@charset "utf-8";
/* (C)4K CPU Challenge, All rights reserved. */

div.margin {
position: relative;
padding: 0 1.5rem 0 1.5rem;
}

div.indent {
padding-left: 1.5rem;
}

div#side {
position: absolute;
top: 0;
right: 0;
width: 26%;
font-size: 0.8rem;
}

div#main {
position: relative;
top: 0;
left: 0;
margin-right: 28%;
}

img.auto {
}

div.ytframe {
}

div.ytframe iframe {
}

.grid_title {
display: grid;
grid-template-columns: 544px 1fr 80px 1fr 16px;
grid-template-rows: 112px;
}

div.title1 {
background-image: url("title1.png");
}

div.title2 {
background-image: url("title2.png");
}

div.title3 {
background-image: url("title3.png");
}

div.title4 {
background-image: url("title4.png");
}

div.title5 {
background-image: url("title5.png");
}

div.footer1 {
position: relative;
padding: 0;
margin: 0;
background-color: #003300;
background-image: url(footer.png);
background-repeat: repeat-x;
height: 18px;
}

div.footer2 {
position: relative;
padding: 2px 16px 2px 16px;
margin: 0;
color: #ffffff;
background-color: #003300;
text-align: center;
}
